*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
:root{
    --color-primary-main: #233e62;
    --color-primary-dark:#072e74;
    --color-primary-lighter:#00bbff; 
    --color-overlay: #1566ad;
    --color-black-light: #333;
    --color-black: #000;
    --color-white-light: #ccc;
    --color-white-lighter: #f0f0f0;
    --color-white: #fff;
    /* typographical variables */
    --svg-small: 3rem;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-black-light);
    line-height: 1.6;
    font-size: 1.4rem;
    overflow-x: hidden;
}

/* utility classes */
.u-link, .u-link:visited, .u-link:link{
    text-decoration: none;
    color: var(--color-black-light);
    font-size: 1.5rem;
}
.nav-active{
    transform: translateX(0)!important;
}
.u-justify-text{
    text-align: justify;
}
.u-center{
    text-align: center;
}
.u-blue-text{
    color: var(--color-overlay);
}
.margin-bottom-huge{
    margin-bottom: 4rem;
}
/* end of utility classes */

/* smaller components */
.logo span{
    color: red;
}
.btn, .btn:link, .btn:visited{
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    background-color: var(--color-primary-dark);
    border: 3px solid transparent;
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover{
    background-color: transparent;
    border: 3px solid var(--color-primary-dark);
    color: var(--color-black-light);
}
.btn--rounded{
    border-radius: 100px;
}
.title{
    font-size: 4rem;
    text-transform: capitalize;
    color: var(--color-primary-dark);
    letter-spacing: 1.4px;
}
.title-md{
    font-size: 1.8rem;
    text-transform: capitalize;
    transform: scaleY(1.1);
    letter-spacing: 1.2px;
}
.text{
    font-size: 1.7rem;
}
.title--small{
    font-size: 2.5rem;
    color: var(--color-overlay);
    text-transform: capitalize;
}
/* end of smaller components */


/* Header styling begins here */
.header{
    top: 0;
    left: 0;
    position: sticky;
    z-index: 200000;
    backface-visibility: hidden;
    background-color: var(--color-white);
}
.header__top{
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
    padding-left: 12rem;
    padding-right: 12rem;
    height: clamp(9vh, 9vh, 9vh);
}
.header__top>*:not(:last-child){
    margin-right: auto;
}
.header__contacts{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header__contacts>*:not(:last-child){
    margin-right: 10rem;
}
.header__contact{
    line-height: normal;
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-items: start;
    grid-gap: .1px;
}
.header__contact--icon{
    width: var(--svg-small);
    height: var(--svg-small);
}
.header__contact div{
    grid-row: 1/span 2;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__contact--title{
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--color-black);
}
.header__bottom{
    background-color: var(--color-primary-main);
    height: 10vh;
    padding-left: 12rem;
    padding-right: 12rem;
    display: flex;
    align-items: center;
}
.header__nav{
    width: 100%;
}
.header__navlist{
    display: flex;
    list-style: none;
    transition: all .4s ease;
}
.header__navlist>*:not(:last-child){
    margin-right: auto;
}
.header__navlist--item{
    margin-bottom: 0;
    border-bottom: 3px solid transparent;
    transition: all .7s ease-in-out;
}
.header__navlist--item:hover{
    transform-origin: left;
    border-bottom: 3px solid white;
}
.header__navlist--link:visited, .header__navlist--link:link{
    font-size: 2rem;
    color: var(--color-white-lighter);
    text-transform: capitalize;
}
.burger{
    cursor: pointer;
    display: none;
}
.burger div{
    width: 4rem;
    height: 4px;
    background-color: var(--color-white);
    border-radius: 100px;
    transition: all .4s ease;
}
.burger>*:not(:last-child){
    margin-bottom: .8rem;
}
.toggle .burger-1{
    transform: rotate(-45deg) translate(-10px, 6px);
}
.toggle .burger-2{
    opacity: 0;
}
.toggle .burger-3{
    transform: rotate(45deg) translate(-10px, -6px);
}
/* media queries to fix the headers */
@media  screen and (max-width:865px) {
    .header__top{
        padding-left: 1rem;
        padding-right: 2rem;
    }
    .header__contacts>*:not(:last-child){
        margin-right: 3rem;
    }
    .header__bottom{
        padding-left: 1rem;
        padding-right: 2rem;
    }
}
@media  screen and (max-width:690px) {
    .burger{
        display: block;
    }
    .header__navlist{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 40%;
        height: 80vh;
        top: 18vh;
        left: 0;
        background-color: var(--color-primary-main);
        transform: translateX(-100%);
        padding: 2rem;
    }
}
/* end of everything to do with the header */

/* home stylings starts here */
.home{
    height: 80vh;
    background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)),url(../images/laptop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.home__textbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    display: flex;
    flex-direction: column;
}
.home__title{
    color: var(--color-white);
    line-height: normal;
}
.home__title>*{
    display: block;
}
.home__title--sub{
    font-size: 1.5rem;
    letter-spacing: 1.4px;
    font-weight: normal;
    text-transform: uppercase;
}
.home__title--main{
    font-size: 5rem;
    text-transform: capitalize;
    letter-spacing: 1.4px;
}
.home__button{
    font-size: 2rem!important;
    text-transform: capitalize;
    font-weight: normal!important;
    letter-spacing: 1.4px!important;
    align-self: flex-start;
}
.home__button:hover{
    color: var(--color-white);
}
/* media queries for the header */
@media screen and (max-width: 1100px) {
    .home__title--main{
        font-size: 4.5rem;
    }
}
@media screen and (max-width: 970px) {
    
    .home__textbox{
        width: 80%;
        margin: auto;
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width: 750px) {
    
    .home__title--main{
        font-size: 4rem;
    }
}
@media screen and (max-width: 670px) {
    .home__textbox{
        width: 96%;
        margin: auto;
        transform: translate(-50%, -50%);
    }
    .home__title--main{
        font-size: 3.5rem;
    }
}

/* end of home section stylings */

/* beginning of about section styling */
.about{
    padding: 10rem 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 12rem;
}
.about__text{
    grid-column: 1/span 3;
}
.about__svgs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.about__svgs>*:not(:last-child){
    margin-right: 4rem;
}
.about__svg--link{
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white-light);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    transition: all .4s ease;
}
.about__svg--link:hover{
    background-color: var(--color-white-lighter);
}
.about__svg--icon{
    --size: 4rem;
    width: var(--size);
    height: var(--size);
}
.aboout__leaders{
    grid-column: 4/-1;
}
.leader{
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1rem;
    cursor: pointer;
    padding: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
    border-radius: 5px;
    transition: all .3s ease;
}
.leader:hover{
    box-shadow: 0 0 4px;
}
.leader__image{
    --size: 6rem;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
}
.leader__image--img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}
.leader__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.leader__details>*:not(:last-child){
    margin-bottom: .3rem;
}
.leader__name{
    font-size: 2rem;
    letter-spacing: normal;
    font-weight: bold;
    color: var(--color-black);
}
.leader__position{
    font-size: 1.5rem;
    text-transform: capitalize;
}
/* media queries for the about section */
@media screen and (max-width: 1070px) {
    .about{
        display: grid;
        grid-gap: 8rem;
    }
}
@media screen and (max-width: 1030px) {
    .about{
        display: grid;
        grid-gap: 4rem;
    }
}
@media screen and (max-width: 890px) {
    .about{
        display: grid;
        grid-gap: 2rem;
    }
}
@media screen and (max-width: 760px) {
    .about{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
}

/* end of about stylings */


/* services stylings begin here */
.services__container{
    padding: 1rem;
   max-width: 1200px;
   margin: 1rem auto; 
   /* background-color: var(--color-white-lighter); */
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   grid-gap: 6rem;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 0 2px;
    padding: 1.5rem;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}
.service>*:not(:last-child){
    margin-bottom: 1.5rem;
}
.service__icon{
    --size: 6rem;
    width: var(--size);
    height: var(--size);
    fill: var(--color-primary-lighter);
}
.service__title{
    font-size: 3rem;
    font-weight: normal;
    text-transform: capitalize;
    font-style: oblique;
}
.service__description{
    line-height: 1.2;
    font-size: 1.8rem;
    text-align: justify;
}
.service__button{
    padding: 2rem;
    padding-left: 0;
}
.service__button--btn:link, .service__button--btn:visited{
    text-decoration: none;
    font-weight: normal;
    font-size: 1.8rem;
}
.service__balloon{
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--color-primary-lighter);
    bottom: 0;
    right: 0;
    transform: translate(30%, 20%);
}
.best-services__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}
.servicebox{
    width: clamp(35rem, 35rem, 35rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white-lighter);
    padding: 1.5rem;
    border-radius: 3px;
}
.servicebox>*:not(:last-child){
    margin-bottom: 2rem;
}
.servicebox__service--name{
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: capitalize;
    font-style: oblique;
}
.servicebox__pricing{
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--color-overlay);
}
.servicebox__description{
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-white-light);
}
.servicebox__benefits{
    list-style: none;
    font-size: 1.8rem;
}
.servicebox__benefits>*:not(:last-child){
    margin-bottom: 1.8rem;
}

/* end of services stylings */

/* beginning of projects stylings */
.projects{
    margin-bottom: 3rem;
}
.projects__container{
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.project{
    position: relative;
    height: clamp(35rem, 35rem, 35rem);
    overflow: hidden;
}
.project__image{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all 1.5s ease;
}
.project:hover .project__image{
    filter: blur(1px);
    transform: scale(0.8);
}
.project__default-name{
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: var(--color-white);
    background-color: var(--color-primary-dark);
    width: 80%;
    text-align: center;
    padding: .5rem 1rem;
    border-radius: 3px;
    transition: all 1s ease;
}
.project:hover .project__default-name{
    opacity: 0;
    display: none;
}
.project__description{
    position: absolute;
    bottom: -2rem;
    left: 0;
    padding: 2rem;
    height: clamp(0px, 0px, 0px);
    transition: all 1s ease-in-out;
}
.project__description--name{
    font-size: 2vw;
    color: var(--color-white);
    font-weight: bold;
}
.project__description--text{
    font-size: 1.5rem;
    color: var(--color-white);
    line-height: 1.4;
}
.project__visitbtn{
    margin-top: 3rem;
}
.project__button:link, .project__button:visited{
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-overlay);
    border-radius: 3px;
}
.project__button:hover{
    color: var(--color-white);
    transform: scale(1.02);
    border: 3px solid transparent;
}
.project__description>*:not(:last-child){
    margin-bottom: 1rem;
}
.project:hover .project__description{
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
}


/* the order placement begins here, it is together with the contact */
.order__container{
    max-width: 1200px;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: 3rem;
}
.place{
    background-color: orangered;
}
.testimonial{
    background-color: blueviolet;
}

/* ending of the order and contacts stylings */

/* the blogs part */
.blogs-container{
    max-width: 1100px;
    width: 100px;
    min-width: 1100px;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    place-items: center;
}
.blogs__cards{
    grid-column: 2/span 2;
    display: flex;
    overflow: scroll;
}
.blogs__cards::-webkit-scrollbar{
    width: 0;
}
.blog{
    max-width: 30rem;
    min-width: 30rem;
    margin: 2rem;
    box-shadow: 0 0 1px;
}
.blog__image{
    width: 100%;
    height: 180px;
    position: relative;
}
.blog__image--img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.blog__date{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-color: var(--color-primary-lighter);
    padding: 1rem 1.5rem;
    line-height: 1.2;
}
.blog__date span{
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-white);
}
.blog__body{
    padding: .5rem 1rem;
    text-align: justify;
}
.blog__body--title{
    font-size: 2rem;
    line-height: 1.3;
    text-align: left;
}
.blog__blogger{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.blog__blogger__image{
    --size: 4rem;
    width: var(--size);
    height: var(--size);
}
.blog__blogger__image--img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}
.blog__blogger--name{
    font-weight: bold;
}
.blog__button{
    margin-bottom: 2rem;
    padding: 1rem;
}
.blog__button--btn:link,.blog__button--btn:visited{
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-black);
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--color-primary-dark);
    transition: all .5s ease-in;
}
.blog__button--btn:hover{
    padding: 1rem;
}



/* the footer part of the webpage */
.footer{
    background-color: var(--color-black-light);
    margin: 2rem auto;
    padding: 8rem 4rem;
    color: var(--color-white);
}
.container__footer{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem; */
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container__footer>*{
    --gutter-horizotal: 3rem;
    --width: calc((100% - (var(--gutter-horizotal)*2))/3);
    width: var(--width) ;
}
.container__footer>*:not(:last-child){
    margin-right: auto;
}
.footer__contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    padding-right: .1rem;
}
.contact-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contact-box:not(:last-of-type){
    margin-bottom: 1.5rem;
}
.contact__svg{
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    fill: var(--color-white-lighter);
    margin-right: 1rem;
}


/* future projects part */
.future-project:link, .future-project:visited{
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}
.future-project:not(:last-of-type){
    margin-bottom: 2rem;
}
.future-project__image{
    --size: 10rem;
    width: var(--size);
    height: var(--size);
    min-width: var(--size);
    margin-right: 1rem;
}
.future-project__image--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.future-project__details--title{
    font-size: 1.8rem;
    text-transform: capitalize;
    transform: scaleY(1.2);
}
.future-project__details--description{
    text-align: justify;
    line-height: 1.5;
}


/* the form */
.subscribe{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}
.subscribe__text--input{
    margin-bottom: 1rem;
    padding: 2rem 6rem;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background-color: #444;
    color: var(--color-white);
    border-bottom: 3px solid transparent;
    transition: all .2s ease;
}
.subscribe__text--input::-webkit-input-placeholder{
    color: var(--color-white-light);
}
.footer__btn{
    border: none;
    outline: none;
    padding: 2rem 6rem;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    font-size: 2rem;
    font-weight: normal;
    text-transform: capitalize;
    transition: all .2s ease;
}
.footer__btn:hover{
    transform: scale(1.02);
}
.social__icons{
    margin: 2rem 0;
    display: flex;
    align-items: center;
}
.social__icons>*:not(:last-child){
    margin-right: 1rem;
}
.social__svg{
    --size: 3rem;
    width: var(--size);
    height: var(--size);
}
.social__icon--link:link, .social__icon--link:visited{
    --size:5rem;
    text-decoration: none;
    width: var(--size);
    height: var(--size);
    padding: .5rem;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .3s ease;
}
.social__icon--link:hover{
    background-color: var(--color-white-light);
}
.footer__copyright{
    margin: 2rem auto;
    text-align: center;
    padding: 2rem 0;
    border-top: 1px solid var(--color-white-light);
}